In [2]:
#defining variable
var1 = 32 #integer
var2 = 2.21 #float
var3 = "ali" #string with
var4 = 'muse' #string

#printing the variables
#there are different ways that I can print  them
print(var1) #this is printing just one variable
print(var1, var2, var3, var4) #like this I can print all of the variables and so on

32
32 2.21 ali muse

In [12]:
#creating a lists
int_list = [2, 5, 5, 11, 9, 8, 10] # you can create same data type list like this
print(int_list)

#printing list type
print(type(int_list))

#also you can create list that contain different data type
karisik_list = ['Ali', 1.76, 'ahmed', 1.78, 'farah', 2]
print(karisik_list) #printing the list

#I can also print an specific index
print(karisik_list[2])

#printing from index to anather index 
print(karisik_list[0:4])  #it will start from zero and it will not include fourht index

#appending element to the list like adding
karisik_list.append("mahamud")
print(karisik_list)

karisik_list.append(99)
print(karisik_list)

#i can delete any element i wnat
karisik_list.remove(99)

print(karisik_list)

# i can reverse
karisik_list.reverse()
print(karisik_list)

[2, 5, 5, 11, 9, 8, 10]
<class 'list'>
['Ali', 1.76, 'ahmed', 1.78, 'farah', 2]
ahmed
['Ali', 1.76, 'ahmed', 1.78]
['Ali', 1.76, 'ahmed', 1.78, 'farah', 2, 'mahamud']
['Ali', 1.76, 'ahmed', 1.78, 'farah', 2, 'mahamud', 99]
['Ali', 1.76, 'ahmed', 1.78, 'farah', 2, 'mahamud']
['mahamud', 2, 'farah', 1.78, 'ahmed', 1.76, 'Ali']

In [2]:
#sorting a list
pth_list = [9 , 2, 7 , 10, 20, 3]
print(pth_list)
pth_list.sort()
print(pth_list)

[9, 2, 7, 10, 20, 3]
[2, 3, 7, 9, 10, 20]

In [ ]:
# for loop
for each in range(0,10):
    print(each)

In [3]:
minimum = 9
for each in pth_list:
    if(each < minimum):
        minimum = each
    else:
        continue
        
print(minimum)

2

In [4]:
# while loop
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [3]:
# defining a function

def Area_of_regtangle(w, l):

    result = w * l
    return result
 
width = 3
length = 5
area = Area_of_regtangle(width, length)

In [6]:
#labda function

def calculate(x):
    output = x*x
    return output

result = calculate(2) # normal calling and passing value

result1 = lambda x: x*x  #Both functions calculate x squared. but lambda would be a shorter typing.

print(result1(4))

16

In [16]:
#dictionary 
#When multiple returns are desired, it is useful to use the dictionary under the specific names all of them

dictionary = {"ahmed":1.22, "siyad":2, "cihan":2.1}
print(dictionary)

type(dictionary)

print(dictionary["siyad"]) # prints the hight of the siyad

dictionary.keys()  #will print key names in the dictionary

dictionary.values()  # values of the keys

{'ahmed': 1.22, 'siyad': 2, 'cihan': 2.1}
2

dict_values([1.22, 2, 2.1])

In [19]:
dc = {"farah":22, "yusuf":24, "yaya":23}
print(dc)
type(dc)
# checking if yusuf in the dc
if "yusuf" in dc:
    print("yes")
else:
    print("no")

{'farah': 22, 'yusuf': 24, 'yaya': 23}
yes